<h1>List of Questions</h1>

<table>
  <tr>
    <th>Priority</th>
    <th>Domain</th>
    <th>Question</th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.priority %></td>
    <td><%= question.domain %></td>
    <td><%= question.question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
