<p id="notice"><%= notice %></p>

<p>
  <b>Priority:</b>
  <%= @question.priority %>
</p>

<p>
  <b>Domain:</b>
  <%= @question.domain %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', question_path %>
